{% extends 'chat/layout.html' %}

{% block body %}
<div>
    {% if request.user.is_authenticated %}
    <h3>Your Groups</h3>
    <div class="row">
        {% for group in groups %}
        <div class="card col-3 border border-secondary rounded m-4">
            <div class="card-body">
              <h5 class="card-title">{{group.group.name}}</h5>
              <a href="{% url 'group' group.group.slug %}" class="btn btn-primary">Join</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>Please sign in continue!</h3>
    {% endif %}
</div>
{% endblock %}